body {
	font-family: 'Montserrat', sans-serif;
	padding-top: 50px;
}

.row {
	margin-right: 0;
}

.header-page {
	background-color: #1ABC9C;
}

.nav-link:hover {
	color: #1ABC9C !important ;
}

.img-profile {
	display: inline-block;
	height: 100px;
	background-color: white;
}

.star {
	width: 100%;
	display: flex;
	justify-content: center;
	/* margin-bottom: 2rem; */
	
}

.bi-star-fill {
	font-size: 1.5rem;
	margin-top: -0.8rem;
}

.bi-dash-lg {
	stroke-width: 6;
}

.bl_card {
	height: 100%;
	background-color: green;
	border-radius: 2rem;
	overflow: hidden;
	position: relative;
}

.bl_card:hover img {
	opacity: 0.5;
}

.fa-plus {
	position: absolute;
	font-size: 5rem;
	z-index: -1;
	color: white;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%)
}

.bl_card:hover i {
	z-index: 4;
}

.about {
	background-color: #1ABC9C;
}

.btn-send {
	background-color: rgba(26,188,156,255);
    border: 0;
}

.input_fix {
    border-radius: 0;
    box-shadow: 0;
    border: 0;
    border-bottom: 1px solid #ced4da;
}



.input_message {
    margin-top: 5rem;
}

.location {
    background-color: rgba(58,84,109,255);
}

.border_icon {
    width: 50px;
    height: 50px;
    padding: 0.5rem;
    font-size: 1.5rem;
}

.copyright {
    background-color: rgba(44,62,80,255);
}

.div_star {
	flex-basis: 13%;
	border: 3px solid;
	height: 3px;
	border-radius: 20px;
	
}